@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'SansBold';
        src: url('../assets/Fonts/OpenSans-Bold.ttf');
    }
    @font-face {
        font-family: 'SansMedium';
        src: url('../assets/Fonts/OpenSans-Medium.ttf');
    }

    @font-face {
        font-family: 'SansLight';
        src: url('../assets/Fonts/OpenSans-Light.ttf');
    }

    @font-face {
        font-family: 'SansItalic';
        src: url('../assets/Fonts/OpenSans-LightItalic.ttf');
    }

    @font-face {
        font-family: 'SansRegular';
        src: url('../assets/Fonts/OpenSans-Regular.ttf');
    }
}

p,
h4,
h5,
h6,
span,
button,
input,
textarea {
    font-family: 'SansRegular';
}

h1,
h2,
h3 {
    font-family: 'SansBold';
    font-weight: 400;
    letter-spacing: 2px;
}

li {
    list-style: none;
}
